{% extends 'base.html' %}
{% load static %}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <section>
        <div class="container-fluid">
            <h1>Объявления</h1>
            {% for bb in bbs %}
                <h2>{{ bb.title }}</h2>
                <p>{{ bb.content }}</p>
                <p>{{ bb.published | date:'d.m.Y H:i:s' }}</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
